@import "tailwindcss";
/* index.css */

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.blurred {
  opacity: 0.3;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
